.step {
  counter-increment: step;
}

.step:before {
  @apply bg-muted border-background absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 text-center -indent-px font-mono text-base font-medium;
  @apply mt-[-4px] ml-[-50px];
  content: counter(step);
}

.custom-scroll-sm {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @apply bg-foreground/10;
  }
}

.shiki {
  @apply !overflow-auto !px-0;

  .line {
    @apply px-3;

    &.highlighted {
      background: rgba(90, 95, 100, 0.3);
      display: inline-block;
      width: 100%;
    }

    &.diff.add {
      background: rgba(78, 251, 21, 0.15);
      display: inline-block;
      width: 100%;
      &:before {
        content: "+";
        color: rgba(55, 241, 13);
      }
    }
  }
}

h2 {
  @apply mt-10 scroll-m-16 pb-2 font-medium text-3xl;
}

h3 {
  @apply mt-8 scroll-m-16 font-medium text-2xl;
}

h4 {
  @apply mt-8 scroll-m-16 font-medium text-xl;
}

.doc table {
  @apply w-full;
  display: table !important;
  table-layout: auto;
  border-collapse: collapse;
}

.doc table thead,
.doc table tbody,
.doc table tr {
  display: table-row-group;
}

.doc table tr {
  display: table-row !important;
}

.doc table th,
.doc table td {
  @apply whitespace-normal align-top;
  display: table-cell !important;
  word-break: break-word;
}

.doc table td:first-child {
  @apply whitespace-nowrap;
}

.doc table code {
  @apply whitespace-normal;
  word-break: break-word;
}
